.elements__image {
  max-width: 100%;
  width: 100%;
  min-height: calc(100% - 80px);
  aspect-ratio: 1/1;
  display: block;
  border: 0;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: 50% 50%;
  background-color: black;
}
.elements__image:hover {
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .elements__image {
    min-height: calc(100vw - 80px);
  }
}