.input {
  font-size: 14px;
  line-height: 16px;
  border: 0;
  min-width: 100%;
  padding: 12px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.input_hide {
  display: none;
}